{% extends "videoJuegos/baseContenidoCatalogo.html" %}


<body>
{% block content %}

	 <div class ="row center-xs">
	 <div class ="col-xs-9 col-sm-10 col-md-10 producto">
    	<form class="" id="formulario" method="post" action="">{% csrf_token %}
    		<fieldset>
    			<legend>Busqueda de VideoJuegos por genero:</legend>
    			<p>{{cadena}}</p>
				<input type="text" name="genero" id="genero" placeholder="genero"/>
    			
    			<input class="btn btn-success" type='submit' value='Realizar Busqueda'/>
    		</fieldset>
    	</form>
    	</div>
    	
    </div>
 
    	
	
	{% if videoJuegosCliente %}
	 
	<BR>
	{%  with buscar='buscar' %}
	<div class="productos">
	
		<div class ="row center-xs">
		
		
		{% for videoJuego in videoJuegosCliente %}
			<div class ="col-xs-10 col-sm-6 col-md-4 producto">
				<a href="{% url 'eliminarJuego_url' videoJuego.idVideoJuegos buscar %}"><img class="eliminar" alt="Eliminar" src="https://cdn.pixabay.com/photo/2017/02/23/08/46/garbage-2091534_960_720.png" width="15%" height="10%"></a>
				<div class="card">
					
					<a href="{% url 'mostrarVideoJuego_url' videoJuego.idVideoJuegos buscar %}"><img alt="imagen videoJuego" src={{videoJuego.urlImg}}></a>
		
				</div>
			</div>
		
			
		{% endfor %}
		
		</div>
		
	
	</div>
	{% endwith %}
	
		{% endif %}
	

	<hr>
	<br>
	
	<a href="{% url 'inicio' %}" class="btn btn-success">Atras</a>
{% endblock content %}
</body>