{% extends "videoJuegos/baseContenido.html" %}
<body>
{% block content %}
<section>
<h1>Videojuegos recomendados para el Cliente {{cliente.idCliente}}</h1>
{% if recomendacion %}
    {% for v in recomendacion %}
        <ul>Videojuego: {{v.nombre}} - Precio: {{v.precio}}</ul>
    {% endfor %}
{% else %}
    {% for v in juegosARecomendar %}
        <ul>Videojuego: {{v.nombre}} - Precio: {{v.precio}}</ul>
    {% endfor %}
{% endif %}
</section>
<a href="{% url 'inicio' %}" class="btn btn-success">Atras</a>
{% endblock content %}
</body>
</html>