<!DOCTYPE html>
<html lang='es'>
  <head>
	<meta charset='utf-8'>
  </head>
 {% extends "videoJuegos/baseContenido.html" %}
  <body>
  
  {% block content %}
  	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
	    <h1>Bienvenidos a JSGames </h1>
	    <nav class="uk-navbar">
		    <ul class="uk-navbar-nav">
		    {% if 'kk' in nombre %}
		    	<li ><a href="{% url 'popular' %}">Poblar Base de Datos - Acceso Restringido</a></li>
		    	<li><a href="{% url 'logout' %}">Salir</a></li>
		    {% else %}
		        <li><a href="{% url 'showConsolasDelCliente_url' %}">Mis consolas</a></li>
		        <li><a href="{% url 'show_data_url' %}">Mostrar informacion personal</a></li>
		        <li><a href="{% url 'showGames_url' %}">Agregar videojuegos</a></li>
		        
		        <li><a href="{% url 'logout' %}">Salir</a></li>
		     {% endif %}
		    </ul>
		</nav>

		<hr>
	</div>
	{% endblock content %}
  </body>
  
  
</html>