<!DOCTYPE html>
<html lang='es'>
  <head>
	<meta charset='utf-8'>

		<link rel="stylesheet" href="{{STATIC_URL}}css/uikit.min.css" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/components/accordion.min.css" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/components/datepicker.min.css" />
        <script src="{{STATIC_URL}}js/jquery.min.js"></script>
        <script src="{{STATIC_URL}}js/uikit.min.js"></script>
        <script src="{{STATIC_URL}}js/components/accordion.min.js"></script>
        <script src="{{STATIC_URL}}js/components/datepicker.min.js"></script>

  </head>
  <body>
  	<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
	    <h1>Bienvenidos a JSGames </h1>
	    <nav class="uk-navbar">
		    <ul class="uk-navbar-nav">
		    	<li class="{% block poblarBDActiva %} {% endblock %}"><a href="/populate">Poblar Base de Datos - Acceso Restringido</a></li>
		        <li><a href="/index.html">Inicio</a></li>
		        <li><a href="{% url 'logout' %}">Salir</a></li>
		    </ul>
		</nav>

		<hr>
 		
 		<h1 class="uk-article-title">{% block titulo %} {% endblock %}</h1>

		<div class="contenido">
		{% block contenido %} {% endblock %}
		</div>
	</div>
  </body>
</html>